<%- include('templates/top') %>
<body id="body" class="bg-dark" data-spy="scroll" data-target=".navbar" data-offset="100">
  <%- include('templates/nav') %>
  <%- include('templates/call') %>
  <div class="content-wrapper">
    <div class="container">
      <%- include('templates/features') %>
      <%- include('templates/cases') %>     
      <%# include('templates/case-studies') %>
      <%- include('templates/reviews') %>
      <%- include('templates/contact-footer') %>
      <%- include('templates/links') %>
      <%- include('templates/footer') %>
      <%- include('templates/contact') %>
    </div> 
  </div>
<%- include('templates/bottom') %>